<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Fornecedor</title>
    <link rel="stylesheet" href="./../public/styles.css">
</head>
<body>
    <main>
        <form action="/register" method="POST" class="register-form">
            <h2>Cadastrar Fornecedor</h2>
            <div class="box">
                <label for="name">Nome:</label>
                <input type="text" name="name" class="name" id="name">
            </div>
            <div class="box">
                <label for="cnpj">CNPJ:</label>
                <input type="text" name="cnpj" class="cnpj" id="cnpj">
            </div>            
            <div class="box">
                <label for="email">Email:</label>
                <input type="email" name="email" class="email" id="email">
            </div>            
            <div class="box">
                <label for="phone">Telefone:</label>
                <input type="text" name="phone" class="phone" id="phone">
            </div>
            <div class="box-2">
                <div class="box">
                    <label for="city">Cidade:</label>
                    <input type="text" name="city" class="city" id="city">
                </div>            
                <div class="box">
                    <label for="uf">UF:</label>
                    <input type="text" name="uf" class="uf" id="uf">
                </div>            
            </div>
            <div class="box">
                <label for="address">Endereço:</label>
                <input type="text" name="address" class="address" id="address">
            </div>
            <button type="submit" href="" class="btn">Registrar</button>                       
        </form>
    </main>
    <script src="./../public/script.js"></script>
</body>
</html>