<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central</title>
    <link rel="stylesheet" href="./../public/styles.css">
</head>
<body>
    <main>
        <a href="./cadastro-fornecedor.html" class="btn">Cadastrar Fornecedor</a>
        <a href="" class="btn">Fornecedores</a>
        <a href="./cadastro-produto.html" class="btn">Cadastrar Produto</a>
        <a href="" class="btn">Produtos</a>
    </main>
    <script src="./../public/script.js"></script>
</body>
</html>