<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Lista de Produtos</h2>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Pesquisar por Nome ou Fornecedor">
        <button onclick="searchProdutos()">Pesquisar</button>
    </div>
    <main class="main-results">
        <div class="card-container" id="produtos-container">
        </div>
    </main>
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Produto</h2>
            <form id="edit-form" class="modal-form">
                <input type="hidden" id="edit-id">
                <label for="edit-name">Nome:</label>
                <input type="text" id="edit-name" required>
                <label for="edit-price">Preço:</label>
                <input type="text" id="edit-price" required>
                <label for="edit-quantity">Quantidade:</label>
                <input type="text" id="edit-quantity" required>
                <label for="edit-description">Descrição:</label>
                <textarea id="edit-description" rows="3" required></textarea>
                <button type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetchProdutos();
        });

        function fetchProdutos(query = '') {
            fetch(`/produtos?search=${query}`)
                .then(response => response.json())
                .then(data => {
                    const container = document.getElementById('produtos-container');
                    container.innerHTML = '';
                    data.forEach(produto => {
                        const card = document.createElement('div');
                        card.classList.add('card');
                        card.innerHTML = `
                            <img src="${produto.img_prod}" alt="Imagem do Produto">
                            <div class="card-content">
                                <h3>${produto.nome}</h3>
                                <p><strong>Preço:</strong> R$ ${produto.preco}</p>
                                <p><strong>Quantidade:</strong> ${produto.quantidade}</p>
                                <p><strong>Fornecedor:</strong> ${produto.fornecedor_nome}</p>
                                <p>${produto.descr}</p>
                                <button class="edit-button" onclick="openEditModal(${produto.id}, '${produto.nome}', '${produto.preco}', '${produto.quantidade}', '${produto.descr}')">Editar</button>
                                <button class="delete-button" onclick="deleteProduto(${produto.id})">Excluir</button>
                            </div>
                        `;
                        container.appendChild(card);
                    });
                })
                .catch(error => console.error('Erro ao buscar produtos:', error));
        }

        function searchProdutos() {
            const query = document.getElementById('search-input').value;
            fetchProdutos(query);
        }

        function deleteProduto(id) {
            fetch(`/produtos/${id}`, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        fetchProdutos();
                    } else {
                        alert('Erro ao excluir o produto.');
                    }
                })
                .catch(error => console.error('Erro ao excluir o produto:', error));
        }

        function openEditModal(id, nome, preco, quantidade, descr) {
            document.getElementById('edit-id').value = id;
            document.getElementById('edit-name').value = nome;
            document.getElementById('edit-price').value = preco;
            document.getElementById('edit-quantity').value = quantidade;
            document.getElementById('edit-description').value = descr;
            document.getElementById('edit-modal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('edit-modal').style.display = 'none';
        }

        document.getElementById('edit-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const id = document.getElementById('edit-id').value;
            const nome = document.getElementById('edit-name').value;
            const preco = document.getElementById('edit-price').value;
            const quantidade = document.getElementById('edit-quantity').value;
            const descr = document.getElementById('edit-description').value;

            fetch(`/produtos/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ nome, preco, quantidade, descr }),
            })
            .then(response => {
                if (response.ok) {
                    fetchProdutos();
                    closeModal();
                } else {
                    alert('Erro ao atualizar o produto.');
                }
            })
            .catch(error => console.error('Erro ao atualizar o produto:', error));
        });

    </script>
</body>
</html>
