<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Lista de Produtos</h2>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Pesquisar por Nome ou Fornecedor">
        <button onclick="searchProdutos()">Pesquisar</button>
    </div>
    <main class="main-results">
        <div class="card-container" id="produtos-container">
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetchProdutos();
        });

        function fetchProdutos(query = '') {
            fetch(`/produtos?search=${query}`)
                .then(response => response.json())
                .then(data => {
                    const container = document.getElementById('produtos-container');
                    container.innerHTML = '';
                    data.forEach(produto => {
                        const card = document.createElement('div');
                        card.classList.add('card');
                        card.innerHTML = `
                            <img src="${produto.img_prod}" alt="Imagem do Produto">
                            <div class="card-content">
                                <h3>${produto.nome}</h3>
                                <p><strong>Preço:</strong> R$ ${produto.preco}</p>
                                <p><strong>Quantidade:</strong> ${produto.quantidade}</p>
                                <p><strong>Fornecedor:</strong> ${produto.fornecedor_nome}</p>
                                <p>${produto.descricao}</p>
                                <button class="delete-button" onclick="deleteProduto(${produto.id})">Excluir</button>
                            </div>
                        `;
                        container.appendChild(card);
                    });
                })
                .catch(error => console.error('Erro ao buscar produtos:', error));
        }

        function searchProdutos() {
            const query = document.getElementById('search-input').value;
            fetchProdutos(query);
        }

        function deleteProduto(id) {
            fetch(`/produtos/${id}`, { method: 'DELETE' })
                .then(response => {
                    if (response.ok) {
                        fetchProdutos();
                    } else {
                        alert('Erro ao excluir o produto.');
                    }
                })
                .catch(error => console.error('Erro ao excluir o produto:', error));
        }

    </script>
</body>
</html>
